// myStyles.styl
$font-family-sans-serif   ?= 'Lato', sans
$font-family-serif        ?= 'Merriweather', Georgia, serif
$font-family-base         ?= $font-family-serif
$font-size-base           ?= 18px
$line-height-base         ?= 2

@import '../bower_components/bootstrap-stylus/bootstrap/index.styl'

// MIXINS
smallcaps()
  text-transform uppercase
  letter-spacing 1px

// SITE
.header, .index, .footer, .post
  text-align center

p
  margin 0px 0px 2em

a
  transition all 0.2s ease
  color black
  border-bottom 1px dotted $gray-light
  &:hover
    color black

ul.social, ul.paging
  padding 0px
  li
    display inline-block
    list-style none
    a
      padding 1em
      border none


.header, .footer
  padding 75px 0px

// HEADER
.header
  .avatar
    margin 20px 0px
    height 60px
  .author
      smallcaps()
      margin-bottom 0
      letter-spacing: 2px;
      margin-bottom: 0;
      font-size: 12px;
      font-weight: 600;
  .bio
      padding 10px 0px
      font-size 14px

  .social
      margin 0 auto
      font-size 12px

// INDEX
.index
  h2
    a
      border none

  .post
    padding 2em 0px
    border-bottom 1px solid #eee

// SINGLE
.single
  .post
    header
      margin 50px 0px
    .entry
      text-align left

    ul.paging
      margin 0 auto
      text-align center

// FOOTER
.footer
  p.small
    margin -5px 0px
    font-size 12px
  b
    smallcaps()
    font-size 9px

// TYPOGRAPHY
h5
  smallcaps()
  font-size 75%

// FORMS
input, button
  smallcaps()
  font-family $font-family-sans-serif

// FORMS
.paging
  margin 50px 0px
  font-size 12px
