extends /layouts/_default

block content
  section.index
    .row
      .col-md-8.col-md-offset-2
        .post
          h2 
            a(href="/post/") This Morning’s Open Data Review
          p.small 12th may 2010

    .row
      .col-md-8.col-md-offset-2
        .post
          h2 
            a(href="post/") How I use Tasklist products
          p.small 12th may 2010

    .row
      .col-md-8.col-md-offset-2
        ul.paging
          li
            a() Previous Posts
          li
            a() More Posts
