extends /layouts/_default

block content
  section.single
    .row
      .container
        .col-md-8.col-md-offset-2
          .post
            header
              h1 This Morning’s Open Data Review
              p.date 12th may 2010

            .entry  
              p This is the main body text. Here is where we write the major content of the page. Try to keep it concise and relevant. This is what the user will most likely read directly after looking at the title, so it should immediately hook their interest and keep them involved until the end. This is crappy filler text but serves mostly as an example of what you could do with stored bits of filler text. No more having to copy paste from a text file or generator. Immediately have what you need, a mere hotkey away!
              p Here is where we write the major content of the page. Try to keep it concise and relevant. This is what the user will most likely read directly after looking at the title, so it should immediately hook their interest and keep them involved until the end. This is crappy filler text but serves mostly as an example of what you could do with stored bits of filler text. No more having to copy paste from a text file or generator. Immediately have what you need, a mere hotkey away! Here is where we write the major content of the page. Try to keep it concise and relevant. This is what the user will most likely read directly after looking at the title, so it should immediately hook their interest and keep them involved until the end. This is crappy filler text but serves mostly as an example of what you could do with stored bits of filler text. No more having to copy paste from a text file or generator. Immediately have what you need, a mere hotkey away!

              h2 Here is a h2 title
              p Here is where we write the major content of the page. Try to keep it concise and relevant. This is what the user will most likely read directly after looking at the title, so it should immediately hook their interest and keep them involved until the end. This is crappy filler text but serves mostly as an example of what you could do with stored bits of filler text. No more having to copy paste from a text file or generator. Immediately have what you need, a mere hotkey away! Here is where we write the major content of the page. Try to keep it concise and relevant. This is what the user will most likely read directly after looking at the title, so it should immediately hook their interest and keep them involved until the end. 
              
              h3 And a crazy littler title 
              p This is crappy filler text but serves mostly as an example of what you could do with stored bits of filler text. No more having to copy paste from a text file or generator. Immediately have what you need, a mere hotkey away!                
