doctype html
html(lang="en")
  head
    title Vienna
    meta(charset='UTF-8')
    meta(content='', name='description')
    meta(content='', name='author')
    meta(content='3 days', name='revisit-after')
    link(href='http://fonts.googleapis.com/css?family=Lato:400,100,300,700,900|Merriweather:400,300,700,900' rel='stylesheet' type='text/css')
    // build:css /styles/main.css
    link(href='/styles/main.css', rel='stylesheet')


    // endbuild

  body(class=page)
    .container
      header.header
        .row
          .col-md-12
            a(href="/")
              img.avatar.img-circle(src="http://en.gravatar.com/userimage/27826342/e2a09fa47d317c1607a10432dbe89268.jpg?size=200")
        .row
          .col-md-12
            p.author Derry Birkett
        .row
          .col-md-6.col-md-offset-3
            p.bio Global CSS settings, fundamental HTML elements styled and enhanced with extensible classes, and an advanced grid system.
        .row
        aside
          .col-md-4.col-md-offset-4
            ul.social
              li 
                a() Twitter
              li 
                a() Facebook
              li 
                a() Google


      block content

      // FOOTER
      footer.footer 
          .newsletter
            h5 About
            p.small Written and Published by 
              b Derry Birkett
            p.small Typeset in 
              i Merriweather
            p.small Subscribe via 
              a() RSS 
            p.small Copyright © 2015
              

        

    // build:js /scripts/main.js
    
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/balance-text/1.6.0/jquery.balancetext.min.js')    
    script(src='/scripts/main.js')
    // endbuild
